

/* @form header 
----------------------------------- */
.smart-forms .header-black {	
	background-color:#34495e;
	border-top:1px solid #7C9AB8;  
	border-bottom:5px solid #2c3e50;
}

.smart-forms .header-lite{ border-top-color:#7C9AB8; }
.smart-forms .header-lite:before{ background-color:#34495e;   }
.smart-forms .header-black h4{ color:#fff; }

/* @form tagline 
--------------------------------- */
.smart-forms .theme-black .tagline span{ color:#34495e; }
.smart-forms .theme-black .smart-link{ color:#34495e; }

/* @hover | focus  
--------------------------------- */
.smart-forms .theme-black .gui-input:hover,
.smart-forms .theme-black .gui-textarea:hover,
.smart-forms .theme-black .select > select:hover,
.smart-forms .theme-black .select-multiple select:hover, 
.smart-forms .theme-black .gui-input:hover ~ .input-hint,
.smart-forms .theme-black .file .gui-file:hover + .gui-input,
.smart-forms .theme-black .gui-textarea:hover ~ .input-hint{ border-color: #415b76; }
.smart-forms .theme-black .gui-input:focus,
.smart-forms .theme-black .gui-textarea:focus,
.smart-forms .theme-black .select > select:focus,
.smart-forms .theme-black .select-multiple select:focus{ border-color: #34495e; color: #3C3C3C; }
.smart-forms .theme-black .gui-textarea:focus{  height: 120px; }
.smart-forms .theme-black .select > select:focus { z-index:10; z-index:20\9; }
.smart-forms .theme-black .gui-input:focus ~ .field-icon i,
.smart-forms .theme-black .gui-textarea:focus ~ .field-icon i{ color:#34495e; }
.smart-forms .theme-black .select-multiple select:focus, 
.smart-forms .theme-black .gui-input:focus ~ .input-hint,
.smart-forms .theme-black .gui-textarea:focus ~ .input-hint, 
.smart-forms .theme-black .file .gui-file:focus + .gui-input{ border-color: #34495e; }
.smart-forms .theme-black .select > select:focus + .arrow{ color:#34495e; }

/* @star rating 
--------------------------------------------------------------- */
.smart-forms .theme-black .rating:hover .rating-star:hover,
.smart-forms .theme-black .rating:hover .rating-star:hover ~ .rating-star,
.smart-forms .theme-black .rating-input:checked ~ .rating-star { color: #2c3e50;	}
.smart-forms .theme-black .rating-star, 
.smart-forms .theme-black .rating:hover .rating-star {	color: #555555;	 }

/* @check + radio black 
---------------------------------------------------------------- */
.smart-forms .option-black input:hover + .checkbox,  
.smart-forms .option-black input:hover + .radio{ border-color: #415b76; }
.smart-forms .option-black input:checked + .checkbox, 
.smart-forms .option-black input:focus + .checkbox, 
.smart-forms .option-black input:checked + .radio, 
.smart-forms .option-black input:focus + .radio{ border-color: #34495e; }
.smart-forms .option-black input:checked + .radio:before, 
.smart-forms .option-black input:focus + .radio:before{  background: #34495e; }
.smart-forms .option-black input:checked + .checkbox:before, 
.smart-forms .option-black input:focus + .checkbox:before{ border-color: #34495e; }

/* @toggle-switch black 
------------------------------------------------------------ */
.smart-forms .switch-black > input:checked + .switch-label { background: #34495e; border-color: #34495e; }
.smart-forms .switch-black > input:checked + .switch-label:after { color:#34495e; }
.smart-forms .switch-black > input:checked:focus + .switch-label { background: #2c3e50; border-color: #2c3e50; }

/* @button black 
------------------------------------------------------------- */
.smart-forms .btn-black { background-color: #34495e; margin: auto; width: 50%; }
.smart-forms .btn-black:hover,
.smart-forms .btn-black:focus{ background-color: #415b76; margin: auto; width: 50%; }
.smart-forms .btn-black:active{ background-color: #2c3e50; margin: auto; width: 50%; }
.smart-forms .btn-black,
.smart-forms .btn-black:hover,
.smart-forms .btn-black:focus,
.smart-forms .btn-black:active{ margin: auto; width: 50%; color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08); }

/* @datepicker overides 
----------------------------------------------------------- */
.ui-datepicker { border:5px solid #34495e; }
.ui-datepicker:before{ 
	border-color:transparent transparent #34495e transparent; 
	border-color:rgba(255,255,255,0) rgba(255,255,255,0) #34495e rgba(255,255,255,0); 
}
.ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-datepicker-header { background:#34495e; }
.ui-datepicker-today a, 
.ui-datepicker-today a:hover, 
.ui-datepicker .ui-state-highlight { background:#34495e!important; }

/* @price-box 
------------------------------------------------------------- */
.smart-forms .theme-black .selected-box h4{ color:#34495e; }
.smart-forms .ribbon-inner{ background:#34495e; }
.smart-forms .ribbon-inner:before,
.smart-forms .ribbon-inner:after{ border-top-color:#2c3e50; }